# ==================== Java / Maven ====================
target/
*.class
*.jar
*.war
*.ear

# ==================== IDE ====================
.idea/
*.iml
.vscode/

# ==================== OS ====================
.DS_Store
Thumbs.db

# ==================== Logs / temp ====================
*.log
*.tmp
*.bak
pb_data/

# ==================== Frontend ====================
UI/node_modules/
UI/.vite/
UI/dist/
UI/*.tsbuildinfo
